#main-header {
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    color: #333333;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    border: 2px solid #000000;
 }
 
 #designers {
    font-family: 'Arial', sans-serif;
    font-size: 45px;
    color: #ff0066;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
 }
 
 .paragraph {
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
    color: #333333;
    line-height: 1.5;
 }
 
 * {
    box-sizing: border-box;
 }
 
 body {
    font-family: Arial;
    padding: 10px;
    background: #e0f7fa;
 }
 
 /* Header (div) formatting */
 .header {
    padding: 10px;
    text-align: left;
    background-color: #f1f1f1;
 }
 
 .header h1 {
    font-family: 'Times New Roman', Times, serif;
     font-size: 60px;
     color: #333333;
     font-weight: bold;
     font-style: italic;
     text-decoration: underline;
     border: 2px solid #000000;
 }
 
 /* Content (div) formatting */
 /* TODO */
 .content h2 {
    font-family: 'Arial', sans-serif;
     font-size: 45px;
     color: #ff0066;
     font-weight: normal;
     font-style: normal;
     text-decoration: none;
 }
 
 ul {
    list-style-type: square;
    color: #ff0066;
    background: #ffffff;
    padding: 10px;
    border: 1px solid #cccccc;
 }
 
 /* Comparison table formatting */
 .compare table {
    width:100%;
 }
 
 .compare table, th, td {
    border: 1px solid black;
  }
 
  .compare th, td {
    padding: 15px;
  }
 
 /* Make the logo have a rounded edge */
 img.top-image {
    border-radius: 50%;
    vertical-align: middle;
 }
 
